.links-view {
  .current-view-list {
    list-style: none;
    .active {
      color: $nav-bg-color;
    }
    li {
      font-size: 1.8rem;
      cursor: pointer;
      color: #825730;
      &:hover {
        color: $nav-bg-color;
      }
    }
    .li-list {
      margin-left: 1rem;
    }
  }
}
