.pagination {
  margin: 0.7rem 0 0.7rem 10rem;
  color: $modal-text-color;
  @media (max-width: 768px) {
    margin: 0;
  }
  .page {
    padding: 1.2rem;
    border: none;
    background-color: $hover-color;
    .show-icon {
      color: $nav-bg-color;
      font-size: 1.5rem;
    }
    .hide-icon {
      color: $nav-bg-color;
      font-size: 1.5rem;
      opacity: 0.5;
    }
  }
  .current {
    color: $nav-bg-color;
    padding: 0.6rem 1.2rem;
    border-radius: 50%;
    border: 5px solid $nav-bg-color;
    @include size-weight(1.2rem, 600);
  }
}
