$nav-bg-color:#bf431f;
$card-botttom-color: #d57f2c;
$hover-color: #f4e8ce;
$modal-text-color: #533c32;
$icon-color: #e1a03a;
$white-color: #fff;
$asside-color: #e3cfab;
$alegreya: "Alegreya", serif;
$icon-background: #2c1b15;
$fira-sans: "Fira Sans", sans-serif;
$table-color: #44322c;
$red-color: #dd4130;
