.form-auth {
  width: 45%;
  @media (max-width: 768px) {
    width: 100%;
  }
  margin-top: 5rem;
  font-family: $alegreya;
  margin-bottom: 6rem;
  .bill-heading{
    color: $table-color;
  }
  .form-label{
    color: $nav-bg-color;
    font-size: 1.2rem;
  }
  .form-control {
    background-color: inherit;
    border-color: #c8bda6;
    &:hover{
        border-color: $icon-color;
    }
    &:focus{
        box-shadow: none; 
        border-color: $nav-bg-color; 
    }
  }
  .auth-btn{
    border: none;
    padding: 0.5rem 3rem;
    background-color: $nav-bg-color;
    color: $hover-color;
    &:hover{
        background-color:#7f301a;
    }
  }
 
}
