@import "../abstracts/mixins/textFont";
html, body {
  max-width: 100%;
  overflow-x: hidden;
}
.main {
  padding-top: 5rem;
  background-color: $hover-color;
  .gif-spinner {
    img {
      width: 9rem;
      margin-left: 20rem;
      margin-top: 30rem;
      @media(max-width: 768px){
        margin-top: 10rem;
        margin-left: 5rem;
      }
    }
  }
  .card-wrapper {
    @media (max-width: 768px) {
      margin-left: 6rem;
    }
    &.not-found {
      color: $modal-text-color;
      font-family: $alegreya;
      font-size: 2rem;
      margin-top: 25rem;
      margin-left: 6rem;
      @media(max-width: 768px){
        margin-top: 1rem;
        margin-left: 2rem;
      }
    }
    margin-left: 1rem;
    .cards {
      width: 18rem;
      height: 25rem;
      margin-bottom: 4rem;
      .card-main {
        background-color: #e3cfab;
        position: relative;
        &:hover {
          background-color: $hover-color;
        }
        .img {
          height: 17.5rem;
          display: block;
          margin: 0 auto;
        }
        .beer-price {
          margin-top: 1rem;
          color: #c1431f;
          font-size: 0.9rem;
          font-weight: 600;
          font-family: "Fira Sans";
        }
        .logo {
          position: absolute;
          top: 50%;
          left: 40%;
          cursor: pointer;
          opacity: 0;
          transition: transform ease 250ms;
          &:hover {
            opacity: 1;
            color: $white-color;
            transform: translate(0, -2rem);
            filter: drop-shadow(3px 5px 2px rgb(0 0 0 / 0.4));
          }
        }
      }
      .card-bottom {
        background-color: $card-botttom-color;
        position: relative;

        button {
          @include text-font(uppercase, $alegreya);
          border: none;
          background-color: $card-botttom-color;
          color: $hover-color;
          font-size: 1.1rem;
          letter-spacing: 1px;
          position: absolute;
          right: 0;
          top: 0;
          height: 100%;
          padding-top: 1rem;
          padding-bottom: 2.2rem;
          &:hover {
            background-color: $nav-bg-color;
          }
        }
      }
    }
  }
}
