body {
  background-color: $hover-color;
}
.shoping-items {
  margin-top: 3.2rem;
  padding-bottom: 2rem;
  .label-cart {
    .empty-cart {
      @include text-font(uppercase, $alegreya);
      padding-top: 3.5rem;
      color: $modal-text-color;
      font-size: 1.8rem;
    }
    .fa-circle-arrow-left {
      margin-top: 0.5rem;
      font-size: 2.2rem;
      color: $nav-bg-color;
    }
  }
  .shopping-cart {
    display: grid;
    grid-template-columns: repeat(1, 28rem);
    justify-content: center;
    gap: 1.5rem;
    .cart-item {
      border: 1px solid #c8bda6;
      display: flex;
      background-color: #e8d5b3;
      padding-left: 1rem;
      &:hover {
        box-shadow: 1px 0px 33px 4px rgba(128, 112, 112, 0.79);
        -webkit-box-shadow: 1px 0px 33px 4px rgba(128, 112, 112, 0.79);
        -moz-box-shadow: 1px 0px 33px 4px rgba(128, 112, 112, 0.79);
      }
      .image-wrapper {
        width: 6rem;
        .image {
          height: 9rem;
          padding-top: 1.5rem;
          display: block;
          margin-left: auto;
          margin-right: auto;
        }
      }
      .details {
        display: flex;
        flex-direction: column;
        gap: 10px;
        padding: 1rem 1rem 0 1rem;
        i {
          cursor: pointer;
        }
        .cart-title {
          width: 18.5rem;
          display: flex;
          align-items: center;
          justify-content: space-between;
          .title-price {
            font-size: 20px;
            display: flex;
            align-items: center;
            gap: 10px;
            .cart-price {
              background-color: #65524b;
              color: $hover-color;
              border-radius: 4px;
              padding: 2px 6px;
            }
          }
          .fa-sharp {
            color: $red-color;
            font-size: 1rem;
            margin-bottom: 2rem;
          }
        }
        .buttons {
          display: flex;
          flex-direction: row;
          gap: 8px;
          font-size: 1.3rem;
          .bi-caret-down-square-fill,
          .bi-caret-up-square-fill {
            color: $card-botttom-color;
            &:hover {
              color: $nav-bg-color;
            }
          }
        }
        .sum-price {
          font-size: 1.5rem;
        }
      }
    }
  }
}
