.total-amount {
  font-family: $alegreya;
  .amount {
    @media (max-width: 1000px) {
      margin-top: 10rem;
    }
    margin-top: 5rem;
    background-color: $asside-color;
    .amount-wrapper {
      height: 4rem;
      .your-cart {
        color: $card-botttom-color;
        font-size: 1.3rem;
        @media (max-width: 600px) {
          font-size: 1rem;
        }
      }
      .current-page {
        font-family: $fira-sans;
        font-weight: 600;
        color: $table-color;
        @media (max-width: 600px) {
          font-size: 12px;
        }
        .home-btn {
          border: none;
          background-color: $asside-color;
          font-weight: 600;
          color: $table-color;
          &:hover {
            color: $card-botttom-color;
          }
          @media (max-width: 600px) {
            font-size: 12px;
          }
        }
        i {
          color: $card-botttom-color;
          margin: 0 3px;
        }
      }
      .total {
        color: $modal-text-color;
      }
    }
  }
  .buttons {
    @media (max-width: 990px) {
      margin-top: 15rem;
    }
    margin-top: 11rem;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 0.8rem;
    .checkout {
      background-color: $nav-bg-color;
      color: $hover-color;
      border: none;
      padding: 6px;
      &:hover {
        background-color: #75422e;
      }
    }
    .clear-cart {
      color: $nav-bg-color;
      border: none;
      background-color: inherit;
      font-size: 17px;
      font-weight: 600;
      &:hover {
        background-color: #75422e;
        padding: 6px;
        color: $hover-color;
        font-size: 16px;
        font-weight: normal;
        margin-right: 0.4rem;
      }
    }
  }
}
